---
import "@fontsource/lexend/300.css";
import "@fontsource/lexend/400.css";
import "../style.css";

import data from "../data";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Hartono Chandra</title>
  </head>

  <body>
    <header id="#about" class="mt-12 p-2 pb-4">
      <h1>
        <span class="font-bold">h</span>artono<span class="font-bold">c</span
        >handra<span class="font-bold text-stone-600">.dev</span>
      </h1>

      <nav class="uppercase flex gap-x-12 mt-12">
        <a href="#about">About</a>
        <a href="#about">Experience</a>
        <a href="#about">Projects</a>
      </nav>
    </header>

    <section class="mt-16">
      <h2>About me</h2>

      <div
        class="mx-auto max-w-xl mt-12 text-lg text-stone-600"
        style="line-height: 1.8"
        set:html={data.intro}
      />

      <div class="mx-auto max-w-xl flex mt-8 gap-x-4">
        <a href="https://google.com"
          ><button
            type="button"
            class="cursor-pointer w-12 h-12 bg-white border-2 border-b-4 border-black rounded-full underline text-xl"
            >in</button
          ></a
        >
        <a href="https://google.com"
          ><button
            type="button"
            class="cursor-pointer w-12 h-12 bg-white border-2 border-b-4 border-black rounded-full underline text-xl"
            >gh</button
          ></a
        >
        <a href="https://google.com"
          ><button
            type="button"
            class="cursor-pointer w-12 h-12 bg-white border-2 border-b-4 border-black rounded-full underline text-xl"
            >cv</button
          ></a
        >
      </div>
    </section>

    <section id="experience" class="mt-32">
      <h2>My work experience</h2>

      <div
        class="mt-12 ml-12"
        style="display:grid; grid-template-columns: 1fr; grid-auto-rows: 1fr;"
      >
        <div class="experience-item">
          <div>January 2021 - Present</div>
          <h3 class="text-xl font-bold mt-4">Senior Product Designer</h3>
          <div class="text-xl mt-2">TechInnovate Inc.</div>
          <div class="mt-4 max-w-lg">
            <p>
              Lead designer for the company's flagship SaaS product, managing a
              team of 3 designers. Conduct user research, create wireframes and
              prototypes.
            </p>
          </div>
        </div>

        <div class="experience-item">
          <div class="text-stone-600">January 2021 - Present</div>
          <h3 class="text-xl font-bold mt-4">Senior Product Designer</h3>
          <div class="text-xl mt-2">TechInnovate Inc.</div>
          <div class="mt-4 max-w-lg">
            <p>
              Lead designer for the company's flagship SaaS product, managing a
              team of 3 designers. Conduct user research, create wireframes and
              prototypes.
            </p>
          </div>
        </div>

        <div class="experience-item">
          <div>January 2021 - Present</div>
          <h3 class="text-xl font-bold mt-4">Senior Product Designer</h3>
          <div class="text-xl mt-2">TechInnovate Inc.</div>
          <div class="mt-4 max-w-lg">
            <p>
              Lead designer for the company's flagship SaaS product, managing a
              team of 3 designers. Conduct user research, create wireframes and
              prototypes.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="projects" class="mt-32">
      <h2>My personal projects</h2>

      <div
        class="mt-12 gap-16 ml-12"
        style="display:grid; grid-template-columns: 1fr 1fr; grid-auto-rows: 1fr;"
      >
        <div class="project-item">
          <h3 class="text-xl font-bold mt-4">E-commerce Platform</h3>

          <div class="mt-4">
            <p>
              Complete redesign of an online store, resulting in a 34% increase
              in conversions and improved user experience.
            </p>
          </div>

          <div class="mt-8 flex gap-x-4">
            <a href="https://google.com"
              ><button
                type="button"
                class="cursor-pointer bg-white border-2 border-b-4 border-black rounded-4xl px-4 py-2 text-lg"
                >Explore</button
              ></a
            >
          </div>
        </div>
        <div class="project-item">
          <h3 class="text-xl font-bold mt-4">E-commerce Platform</h3>

          <div class="mt-4">
            <p>
              Complete redesign of an online store, resulting in a 34% increase
              in conversions and improved user experience.
            </p>
          </div>

          <div class="mt-8 flex gap-x-4">
            <a href="https://google.com"
              ><button
                type="button"
                class="cursor-pointer bg-white border-2 border-b-4 border-black rounded-4xl px-4 py-2 text-lg"
                >Explore</button
              ></a
            >
          </div>
        </div>
        <div class="project-item">
          <h3 class="text-xl font-bold mt-4">E-commerce Platform</h3>

          <div class="mt-4">
            <p>
              Complete redesign of an online store, resulting in a 34% increase
              in conversions and improved user experience.
            </p>
          </div>

          <div class="mt-8 flex gap-x-4">
            <a href="https://google.com"
              ><button
                type="button"
                class="cursor-pointer bg-white border-2 border-b-4 border-black rounded-4xl px-4 py-2 text-lg"
                >Explore</button
              ></a
            >
          </div>
        </div>
      </div>
    </section>

    <footer class="border-t-2 border-stone-200 mt-32 text-stone-500 py-16 px-8">
      &copy; 2023 Alex Morgan. All rights reserved.
    </footer>
  </body>
</html>
