---
import "../style.css";
import site from "../site-info";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="My portfolio site" />
    <title>{site.title}</title>
  </head>
  <body class="tracking-wide">
    <div class="bg-black">dfsd</div>

    <script hoist>
      import "../main";
    </script>

    <!-- <script type="module" src={Astro.resolve("../main.ts")}></script> -->
  </body>
</html>
