---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../style.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Welcome />

  <div class="prose mx-auto my-8 px-4">
    <h2 class="bg-black text-white">Getting Started</h2>
    <p>
      This starter includes everything you need to build a modern Astro site,
      including:
    </p>
    <ul>
      <li>🧰 A collection of example components to get you started</li>
      <li>🎨 An example design system built with Tailwind CSS</li>
      <li>⚡ Performance optimizations and best practices</li>
      <li>📝 An example blog powered by Markdown and MDX</li>
    </ul>
    <p>
      To learn more about how Astro works, check out the
      <a
        href="https://docs.astro.build"
        target="_blank"
        rel="noopener noreferrer">Astro documentation</a
      >.
    </p>
  </div>
</Layout>
