---
import "@fontsource/lexend/400.css";
import "@fontsource/lexend/700.css";
import "@fontsource/press-start-2p";
import Layout from "../layouts/Layout.astro";
import "../style.css";
---

<Layout>
  <div class="mx-auto max-w-3xl text-center">
    <div
      class="w-48 h-48 mx-auto rounded-full overflow-hidden border-2 border-pink-400"
    >
      <img
        src="https://placehold.co/400x400?text=PLAYER_1"
        alt="Profile Photo"
        class="profile-img"
      />
    </div>

    <div class="retro mt-12 text-4xl">Hartono Chandra</div>
    <div class="retro mt-8 text-3xl">Software Engineer - Web</div>

    <div class="mt-4 h-1 bg-black"></div>

    <div class="mt-8 text-lg/8">
      <p>
        Hello! I'm just your average developer with a love for smooth UI and fun
        animations, always trying to make things great for both users and fellow
        developers.
      </p>

      <p class="mt-6">
        When I'm not coding, you can find me doodling in my sketchbook, playing
        indie games, or experimenting with interactive art installations.
      </p>
    </div>

    <div class="mt-12">
      <a href="https://google.com"
        ><button
          type="button"
          class="cursor-pointer w-16 h-16 bg-pink-50 border-2 border-b-4 border-black rounded-full underline text-xl"
          >in</button
        ></a
      >
    </div>
  </div>

  <div class="mx-auto max-w-4xl mt-32">
    <div class="retro text-3xl text-center">Work Adventures</div>
    <div class="mt-4 h-1 bg-black"></div>

    <div
      class="mt-8"
      style="display:grid; grid-template-columns: 1fr auto 1fr;"
    >
      <div class="p-4">
        <div class="bg-white border-2 border-blue-400 p-4 pb-8 rounded-2xl">
          <div>Feb 2020 - Present</div>
          <div class="retro mt-4 text-xl text-blue-400">
            Software Engineer - Web
          </div>
          <div class="mt-4">PT. XYZ</div>
          <div class="mt-4">
            Led a team of developers in building animated web applications with
            playful UX. Implemented creative solutions that improved user
            engagement by 52%.
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div
          class="w-8 h-8 p-1 bg-white border-4 border-blue-400 rounded-full z-10"
        >
          <div class="w-full h-full bg-blue-400 rounded-full"></div>
        </div>
        <div class="-mt-2 -mb-2 w-2 h-full bg-blue-400 z-0"></div>
      </div>
      <div></div>

      <div></div>
      <div class="flex flex-col items-center">
        <div
          class="w-8 h-8 p-1 bg-white border-4 border-blue-400 rounded-full z-10"
        >
          <div class="w-full h-full bg-blue-400 rounded-full"></div>
        </div>
        <div class="-mt-2 -mb-2 w-2 h-full bg-blue-400 z-0"></div>
      </div>
      <div class="p-4">
        <div class="bg-white border-2 border-blue-400 p-4 pb-8 rounded-2xl">
          <div>Feb 2020 - Present</div>
          <div class="retro mt-4 text-xl text-blue-400">
            Software Engineer - Web
          </div>
          <div class="mt-4">PT. XYZ</div>
          <div class="mt-4">
            Led a team of developers in building animated web applications with
            playful UX. Implemented creative solutions that improved user
            engagement by 52%.
          </div>
        </div>
      </div>

      <div class="p-4">
        <div class="bg-white border-2 border-blue-400 p-4 pb-8 rounded-2xl">
          <div>Feb 2020 - Present</div>
          <div class="retro mt-4 text-xl text-blue-400">
            Software Engineer - Web
          </div>
          <div class="mt-4">PT. XYZ</div>
          <div class="mt-4">
            Led a team of developers in building animated web applications with
            playful UX. Implemented creative solutions that improved user
            engagement by 52%.
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div
          class="w-8 h-8 p-1 bg-white border-4 border-blue-400 rounded-full z-10"
        >
          <div class="w-full h-full bg-blue-400 rounded-full"></div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</Layout>
