---
import "@fontsource/lexend/400.css";
import "@fontsource/lexend/700.css";
import Layout from "../layouts/Layout.astro";
import "../style.css";
---

<Layout>Tes123 <span class="font-bold">fsdfdaa</span>abcg</Layout>
