@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gradient-to-b to-gray-100 from-gray-300 text-black font-sans tracking-wider overflow-x-hidden leading-normal;
  height: 100%;
}

.glass {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
